<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/my.css">
    <title>AST</title>
</head>

<body>
    <div>
        <h1>AST Research</h1>
        <img src="/assets/ast-art.png" alt="">
        <p>AST was founded by three <span>PEOPLE</span> in a garage. The <span>NAME</span> <span>AST</span> comes from their names - that is soo cool!</p>
        <p>They started out creating systems and computers. Their first <span>PROTOTYPE</span> used an <span>INJECTION</span> moulded front bezel!</p>
        <p>Plastics however are not cool anymore because of <span>POLLUTION</span>...</p>
        <p>But it could really run <span>CODE</span>!</p>
        <p>Nowadays people just use JavaScript for everything, even <span>BIKERS</span> could make <span>TEMPLATES</span> for this site...</p>
        <h2>Who is your favorite tech-person?</h2>
        <form id="sender"action="/" method="POST">
            <input type="text" name="name" id="name" placeholder="type a name..."/>
            <input type="submit" value="Send"/>
        </form>
        <p id="response">#</p>
    </div>
    <script src="/assets/script.js"></script>
</body>

</html>