body{
    background: url("bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.container{
    background-color: rgba(0,0,0,0.6);
    border-radius: 4em;
    padding: 4rem;
}